<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <center>
  <div id="copyright" style="width:100%;">
		<div id="logos" style="width:40%; margin:0 auto;">
		  <a href="http://nus.edu.sg/" title="NUS"><img src="{{ '/images/nus_logo_full_colour.jpg' | relative_url }}" alt="NUS HOMEPAGE" width="130"></a>
    </div>

	<div class="clear"><br></div>
  <div class="clear"></div>
    <center><small>Copyright &copy; 2023, <b>Trustworthy and Secure Software (TSS)</b> Group @ NUS.</small></center>
  </div>
  </center>


</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ '/js/tabs.js' | relative_url }}"></script>
