/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;

  // center title and nav
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-title {
  display: flex;
  justify-content: center;
  align-items: center;
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height;
  letter-spacing: -1px;
  margin-right: auto; // to float left in flex
  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto; // to float right in flex
  line-height: $base-line-height;
  opacity: 1;
  z-index: 2;
  letter-spacing: -0.5px;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    background-color: transparent; // override bootstrap
    border: none;
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  @include media-query($on-palm) {
    display: grid;
    position: absolute;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      margin-left: auto; // float right
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
    }

    .page-link {
      background-color: transparent; // override bootstrap
      border: none;
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

}



.nested-dropdowns {
  /* Border */
  border: none;
  display: flex;

  /* Reset list styles */
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include media-query($on-palm) {
    display: grid; // to make the dropdown vertical in mobile mode
  }
}

.nested-dropdowns li {
  cursor: pointer;
  /* Spacing */
  padding: 2px 2px;

  /* Used to position the sub nested-dropdowns */
  position: relative;

  z-index: 1;
  // background-color: #f9f9f9;
  white-space: nowrap;

  @include media-query($on-palm) {
    display: block;
    padding: 0;

    &:not(:last-child) {
      margin-right: 0;
    }
  }
}


/* The sub nested-dropdowns */
.nested-dropdowns ul {
  /* Border */
  border: 1px solid #d1d5db;
  border-radius: 5px;

  /* Hidden by default */
  display: none;

  /* Absolute position */
  position: absolute;
  left: -20px; // so that the dropdown does not go beyond navbar border
  top: 100%;

  /* Reset styles */
  list-style-type: none;
  margin: 0;
  padding: 0;

  background-color: #ffffff;

  // in mobile mode, put the drop down at bottom
  @include media-query($on-palm) {
    top: 100%;
    left: 0px;
  }
}

/* The second level sub nested-dropdowns */
.nested-dropdowns ul ul {
  left: 0;
  top: 100%;
  position: absolute;
}

// /* Change background color of list item when being hovered */
// .nested-dropdowns li:hover {
//   background-color: rgba(0, 0, 0, 0.1);
// }

/* Show the direct sub nested-dropdowns when hovering the list item */
.nested-dropdowns li:hover > ul {
  display: block;
}





/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post {
  width: 100%;
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
