.news-time {
    // display: inline-block;
    font-size: 0.9 * $base-font-size;
    // font-weight: bold;
    color: rgb(73, 72, 72);
}

.news-title {
    // display: inline-block;
    font-size: 1.2 * $base-font-size;
    font-style: italic;
    font-weight: bold;
}

.news-details {
    margin-top: 20px;
    padding-bottom: 20px;
}
